### Задание 1
Ввод чисел останавливается тогда, когда сумма чисел составит 0
Программа выводит сумму квадратов всех считанных чисел

In [66]:
s = 0
s2 = 0
number = float(input("Введите число:"))
s += number
s2 += number**2
while s!=0:
    number = float(input(f"Сумма чисел = {s}; Введите число"))
    s += number
    s2 += number**2
print(f'Сумма квадратов: {s2}')

Введите число: 5
Сумма чисел = 5.0; Введите число 2
Сумма чисел = 7.0; Введите число -7

Сумма квадратов: 78.0

### Задание 2
На вход подаётся N. Программа выводит последовательность чисел, с длиной N, где каждое число повторяется столько раз, чему оно равно.

In [68]:
sequence = []
N = int(input("Введите N: "))
for el in range(1, N+1):
    for i in range(1, el+1):
        if len(sequence)<N:
            sequence.append(el)
        else:
            break
print("Результат:", *sequence)

Введите N:  8

Результат: 1 2 2 3 3 3 4 4

### Задание 3
Матрицу произвольного размера вытянуть в один вектор, не применяя встроенные методы Python

In [69]:
import numpy as np

In [70]:
rows = int(input("Введите количество строк:"))
while rows <= 0:
    rows = int(input("Ошибка, введите ещё раз:"))
cols = int(input("Введите количество столбцов:"))
while cols <= 0:
    cols = int(input("Ошибка, введите ещё раз:"))
m = np.random.rand(rows, cols)

print("\nlist(np.matrix.flatten):")
print(list(np.matrix.flatten(m)))

v = []
for row in m:
    for el in row:
        v.append(el)
print("\nРучной метод:")
print(v)

Введите количество строк: 2
Введите количество столбцов: 2

list(np.matrix.flatten):
[0.08266101430037254, 0.23366088047986056, 0.4402414129928488, 0.15068241166275298]

Ручной метод:
[0.08266101430037254, 0.23366088047986056, 0.4402414129928488, 0.15068241166275298]

### Задание 4
Даны два списка:

А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]

В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]

Создать словарь, ключи - содержимое B, значения - сумма всех элементов списка A в соответствии с буквой на той же позиции в списке B

In [71]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

In [72]:
d = {'a': 0, 'b': 0, 'c': 0}
for i in range(len(A)):
    d[B[i]] += A[i]
print("Результат:", d)
print("Сумма всех значений из списка A:", sum(A))

Результат: {'a': 17, 'b': 11, 'c': 17}
Сумма всех значений из списка A: 45

### Задание 5
Скачать и загрузить данные о стоимости домов в калифорнии при помощи библиотеки sklearn

In [73]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

In [74]:
data = fetch_california_housing(as_frame=True)

In [75]:
data['data']

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

### Задание 6
Добавить к данным столбец с информацией о медианной стоимости дома

In [76]:
new_data = pd.concat([data['data'], data['target']], axis=1)
new_data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

### Задание 7
Использовать метод info()

In [77]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

### Задание 8
Узнать, есть ли пропущенные значения, используя isna().sum()

In [78]:
new_data.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

### Задание 9
Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc()

In [79]:
new_data.loc[new_data['HouseAge']>50].loc[new_data['Population']>2500]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

### Задание 10
Узнать максимальное и минимальное значения медианной стоимости дома

In [80]:
max(new_data['MedHouseVal']), min(new_data['MedHouseVal'])

(5.00001, 0.14999)

### Задание 11
Используя метод apply(), вывести на экран название признака и его среднее значение

In [81]:
new_data.apply(np.mean)

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
dtype: float64